# {{ ansible_managed }}

global
    daemon
    user haproxy
    group haproxy
    log /dev/log local0
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s

defaults
    log global
    timeout connect 15s
    timeout client 150s
    timeout server 150s

listen kube-api
    bind :{{ lab_api_port }}
    mode tcp
    option tcp-check
    balance source
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for host in groups.servers %}
    server {{ host }} {{ lookup('dig', host) }}:6443 check
{% endfor %}

listen stats
    bind :8404
    mode http
    stats enable
    stats hide-version
    stats uri /
    stats auth nobody:admin
