# {{ ansible_managed }}

vrrp_instance VI_1 {
    interface eth0
    virtual_router_id 1
    priority {{ '150' if lab_leader == 'actual' else '100' }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ 'supersecret' | password_hash('sha256', 'supersalt') }}
    }
    virtual_ipaddress {
      {{ lookup('dig', lab_api_host) }}
    }
}
